*{
    margin: 0;
    padding: 0;
   
}

header{
    background-color: #053805;
    display: flex;
}

#logo{
    width: 80px;
}
nav{
    color: gold;
    justify-content: flex-end;

}

li{
display: inline-block;
}

a {
    color: antiquewhite;
    text-align: end;
}






#hero{
    display: flex;
    gap: 10%;
    align-items: center;
    background-color: rgba(103, 29, 29, 0.441);
}
#imgHero{
    width: 50%;
}

#TextHero{
    text-align: center;
    
}
h1 {
    color: white;
}

h2{
    text-align: center;
    margin-bottom: 16px;
}

.grand-parent{
    padding: 80px 24px;
}
.parent{
    display: flex;
    justify-content: center;
    padding: 60px;
    gap: 36px;
}
.enfant{
    width: fit-content;
    border: #6e3704 solid 2px;
    padding: 12px;
}

.pub{
    background-color: #053805;
    background-color: gree;
    margin: 0%;
    p{
        color: white;
        padding: 20px;
        text-align: center;
    
    }
}


.nonna {
    padding: 20px 24px;
}





.genitori {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #333333;
    width: 100%;
    img {
      width: 100%;
      height: 50%;
      border-radius: 5%;
      margin-bottom: 1%;
      aspect-ratio: 1; /* Assure un ratio carré. On aurait pu mettre height 320px */
      object-fit: cover;
    }
    
    h4 {
      color: #1a7f30;
    }
  }

  .figli{
    box-shadow: 0 4px 15px #00000029;
    padding: 20px;
  }
  
  button{
    border: unset;
    background-color: #1b9f37;
    height: 40PX;
    p{color: #edf0ee; 
         }
    
}


label {
    display: block;
    font:
      1rem "Fira Sans",
      sans-serif;
  }
  
  input,
  label {
    margin: 0.2rem 0;
  }
  
  label {
    display: block;
    font:
      1rem "Fira Sans",
      sans-serif;
  }
  
  input,
  label {
    margin: 0.4rem 0;
  }

  label {
    display: block;
    font:
      1rem "Fira Sans",
      sans-serif;
  }
  
  input,
  label {
    margin: 0.4rem 0;
  }